.footer {
  background-color: #dbf9f18c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  bottom: 0;
  font-size: 10px;
}
