.divider {
  width: 50px !important;
  height: 6px;
  background: #4dc7a0;
  border-radius: 12px;
  margin: 10px 0;
  align-items: center;
}

.fishName {
  color: #333333;
  font-size: 14px;
}

.price {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
}

.totalData {
  background-color: #dbf9f18c;
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  color: #333333;
  font-size: 12px;
}

.location {
  color: #505050;
  font-size: 10px;
}

.searchComponent {
  border-color: #4dc7a0 !important;
  border-radius: 25px;
  &:hover,
  &:focus {
    border-color: #4dc7a0 !important;
    outline: 0;
    -webkit-box-shadow: linear-gradient(
      103deg,
      #199421,
      #14a01d,
      #6dcf73
    ) !important;
    box-shadow: linear-gradient(103deg, #199421, #14a01d, #6dcf73) !important;
  }
}

.searchIconStyle {
  width: 15px;
}

.priceRange {
  background-color: #ffd200;
  color: #333333;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 8px;
}

.notFoundStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: grey;
}

.primaryButton {
  background-color: #4dc7a0 !important;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 2px 30px;
  height: 30px;
  &:hover,
  &:focus {
    color: white;
    background-color: #038767 !important;
  }
}

.secondaryButton {
  background-color: #ffd200;
  border: none;
  color: #333333;

  border-radius: 8px;
  height: 30px;
  &:hover,
  &:focus {
    color: #333333;
    background-color: #ffd61f !important;
  }
}

.filter-container {
  margin-top: 8px;
  border: 1px solid #ececec;
  padding: 10px 20px;
  border-radius: 15px;

  max-height: auto;
  transition: max-height 10s ease-in;
}
